body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: rgb(40, 123, 190);
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem; /* Space between icon and text */
    /* color: #fff; Adjust to match your design */
    margin: 1rem;
}
.sidebar img {
    width: 60px;
}

.sidebar h2 {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(40, 123, 190);
    margin: 0;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #1abc9c;
}

.logout {
    margin-top: auto;
    background-color: #e74c3c;
    text-align: center;
}

.logout a {
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.tab-content {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #16a085;
}