@media (min-width: 768px) {
    header{
        padding: 1rem;
    }
    header nav {
        display: flex;
        justify-content: space-between; /* Spreads items evenly with space around them */
        align-items: center;
        max-width: 1200px;
        padding: 0 1rem;
    }

    header nav ul {
        list-style: none;
        display: flex;
        gap: 5rem; /* You can use a smaller gap for control */
    }

    header nav a {
        display: flex;
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    header nav a:hover {
        color: #ffd700;
    }

    #menu {
		display: none; 
	}

    .hero img.hero-image {
        width: 100%;
        height: 100%;
    }

    /*.hero img.overlay-image {
        width: 90%;
        top: 30%;
        left: 5%;
    } */

    .hero .hero-text {
        top: 30%;
        left: 27%;
        transform: translate(-30%, -30%);
        padding: 2rem 3rem;
    }

    .hero .hero-text h2 {
        font-size: 3rem;
    }

    .hero .hero-text p {
        font-size: 1.5rem;
    }

    .btn {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }

    .btn:hover {
        background: #2c6e2f;
        transform: scale(1.05);
    }
}